<a href="https://colab.research.google.com/github/faradaystorm/ileripython/blob/main/classtan%C4%B1mlamak.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- fonksiyonlarda belirli fonksiyonalite ifade eden kodları bir araya getirmeyi gördük. class mantığında hem fonksiyonalite hem de veriyi bir arada tutma yoluna bakacağız.

- class'ın içerisindeki veri/data ya **attribute**, fonksiyonlara **method** diyeceğiz

- diyelim ki bir iş yeri çalışanları kodumuzda ifade etmek istiyoruz. Sanki bu **class** mantığı ile uyumlu. her çalışanın farklı farklı özellikleri attribute ve yaptıkları şeyler methodları olacak

- fonksiyon tanımlanırken **def** class yaratırken **class**

- classın içerisinde method yaratırken, classtan yaratılan objeyi methodlar ilk arguman olarak alırlar. istediğimiz adı verebiliriz ama genellikle **self** diye geçer.

**Attribute**

In [ ]:
class Employee:
  pass

In [ ]:
e = Employee()

In [ ]:
#e objesine "a" attribute ekledik
e.a = 4

In [ ]:
e.a

4

- böyle tek tek belirtmek yerine en başta oluştururken de attribute verebilirsin

In [ ]:
class Employee:
   def __init__(self, name, last, age, pay):
       self.name = name
       self.last = last
       self.age = age
       self.pay = pay

- class bunlardan objeler yaratmak için bir kalıptır!!!

In [ ]:
emp_1 = Employee("James", "Hughes", "32", 5000)

yukarıda yaratılan bir obje oldu employee classının objesi

In [ ]:
emp_2 = Employee("Charlie", "Brown", "22", 3000)

In [ ]:
emp_1.name

'James'

bütün yaratılan attributelar **instance variable** Her obje (classtan yaratılan instance), kendine özel attribute a sahip (iki kişinin adı aynı olabilir, ama hepsi için ayrı bir variable var ve hepsi kendi age attribute unda tutuyor)

**Method**

In [1]:
class Employee:
    def __init__(self, name, last, age, pay):
        self.name = name
        self.last = last
        self.age = age
        self.pay = pay

    def fullname(self):
        print(f"{self.name} {self.last}")

In [2]:
emp_1 = Employee("James", "Hughes", "32", 5000)

In [3]:
emp_2 = Employee("Charlie", "Brown", "22", 3000)

In [4]:
emp_1.fullname()

James Hughes

In [5]:
emp_2.fullname()

Charlie Brown

self otomatik olarak atanıyor. eğer self i arguman olarak vermezsek:

In [6]:
class Employee:
    def __init__(self, name, last, age, pay):
        self.name = name
        self.last = last
        self.age = age
        self.pay = pay

    def fullname():
        print(f"{self.name} {self.last}")

In [7]:
emp_1 = Employee("James", "Hughes", "32", 5000)

In [8]:
emp_1.fullname()

TypeError: ignored